body {
  /*font-family: "Open Sans", sans-serif;*/
  background: #151426; /*https://thegraph.com/*/
  /*MOVING THIS BLOCK TO LEVERAGE THE IMG COMPONENT*/
  background-image: url("/images/willian-justen-de-vasconcellos-pUGRSh9dS9M-unsplash.jpg");
  background-attachment: fixed;
  background-size: cover;
  background-blend-mode: overlay;
  background-position: center;
  background-repeat: no-repeat;
}
