body {
  /*font-family: "Open Sans", sans-serif;*/
  background: #151426; /*https://thegraph.com/*/
  /*MOVING THIS BLOCK TO LEVERAGE THE IMG COMPONENT*/
  background-image: url("/images/willian-justen-de-vasconcellos-pUGRSh9dS9M-unsplash.jpg");
  background-attachment: fixed;
  background-size: cover;
  background-blend-mode: color-dodge;
  background-position: center;
  background-repeat: no-repeat;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Roboto, sans-serif;
}

a {
  cursor: pointer;
}
